/**
 * Settings > ConvertKit
 */
body.woocommerce_page_wc-settings {
	background: #f6f8fa;
}

/**
 * First Section
 */
body.woocommerce_page_wc-settings .wrap form#mainform ul.subsubsub {
	margin: 0 0 20px 0;
}

/**
 * Section
 */
body.woocommerce_page_wc-settings .wrap .postbox {
	background: #fff;
	box-shadow: 0 2px 5px #0000000d;
	color: #373f45;
	margin: 0 0 30px 0;
	padding: 40px 30px 30px 30px;
	font-size: 14px;
	border: 1px solid #EDF2F4;
}
body.woocommerce_page_wc-settings .wrap .postbox h2 {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	font-size: 24px;
	font-weight: 600;
	border-bottom: 1px solid #EDF2F4;
}
body.woocommerce_page_wc-settings .wrap .postbox p {
	font-size: 14px;
}
body.woocommerce_page_wc-settings .wrap p.submit {
	padding: 0;
}
body.woocommerce_page_wc-settings .wrap p.submit .button,
body.woocommerce_page_wc-settings .wrap p.submit .button-primary {
	margin: 0 5px 0 0;
	padding: 4px 12px;
	font-size: 14px;
}
body.woocommerce_page_wc-settings .wrap p.submit .button-primary {
	background: #fb6970;
	border-color: #fb6970;
	color: #fff;
}
body.woocommerce_page_wc-settings .wrap p.submit .button-primary:hover {
	background: #fb5058;
	border-color: #fb5058;
}
